:root {
    /* 색상 */
    --color-white: #ffffff;
    --color--gray-100: #eee;
    --color-gray-200: #f5f5f5;
    --color-gray-300: #ccc;
    --color-red: #db5b33;
    --color-green: #00ca85;

    --calendar-size: 320px;
}
